<div ng-controller="AbsencesCtrl">
  <div id="graphique">
    <div class="cont">
      <table class="table-responsive graphique row">
          <tr>

            <td class="graph-card">
              <canvas id="conges" class="chart chart-doughnut"chart-data="dataConge" chart-labels="labelConge" chart-colours="coloursCard" width="120" height="120" chart-options="options"></canvas>
                <div id="indicateur"><p class="indicateur" id="conge_restant">{{conges}}</p></div>
                <div id="titre"><p> Congés</p></div>
                <br>
            </td>

            <td class="graph-card">
                <canvas id="rtt_q1" class="chart chart-doughnut"chart-data="dataRttQ1" chart-labels="labelRttQ1" chart-colours="coloursCard" width="120" height="120" chart-options="options"></canvas>
                <div id="indicateur"><p class="indicateur" id="rttQ1_restant">{{rrtUn}}</p></div>
                <div id="titre"><p>RTT Q1</p></div>
                <br>
            </td>

            <td class="graph-card">
                <canvas id="rtt_q2" class="chart chart-doughnut"chart-data="dataRttQ2" chart-labels="labelRttQ2" chart-colours="coloursCard" width="120" height="120" chart-options="options"></canvas>
                <div id="indicateur"><p class="indicateur" id="rttQ2_restant">{{rrtDeux}}</p></div>
                <div id="titre"><p>RTT Q2</p></div>
                <br>
            </td>

            </tr>
        </table>
    </div>
  </div>
  <div class="quand row">
      <h3> Prochain congé :  {{dateProchainConge}}</h3>
  </div>
  <div class="duree row">
      <h3> Durée : {{dureeProchainConge}}</h3>
  </div>
</div>
