<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-controller="PlanningCtrl">
    <div class="list">
        <div class="listOT" ng-repeat="item in OT">
            <h4>{{ item.type }}</h4>
            
        </div>
    </div>
    
    
    <table class="planningTable">
        <tr>
            
            <th>Janv</th>
            <th>Fevr</th>
            <th>Mars</th>
            <th>Avri</th>
            <th>Mai</th>
            <th>Juin</th>
            <th>Juil</th>										

            <th>Aout</th>
            <th>Sept</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
        </tr>
        
    </table>
</div>
   