<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Configuration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper container">
            <div class="ripple"></div>
            <div class="content ">
              <p class="header">Activation des tuiles</p>
              <ul>
                <li>
                  <p>Affichage de la tuile tâches : </p>
                  <input id="taches" type="checkbox" hidden="hidden"/>
                  <label for="taches" class="switch"></label>
                </li>
                <li>
                  <p>Affichage de la tuile planning : </p>
                  <input id="planning" type="checkbox" hidden="hidden" ng-model ="planning" />
                  <label for="planning" class="switch"></label>
                </li>
                <li>
                  <p>Affichage de la tuile outils : </p>
                  <input id="outils" type="checkbox" hidden="hidden"/>
                  <label for="outils" class="switch"></label>
                </li>
                <li>
                  <p>Affichage de la tuile test : </p>
                  <input id="test" type="checkbox" hidden="hidden"/>
                  <label for="test" class="switch"></label>
                </li>
                <li>
                  <p>Affichage de la tuile absences : </p>
                  <input id="absences" type="checkbox" hidden="hidden"/>
                  <label for="absences" class="switch"></label>
                </li>
                <li>
                  <p>Affichage de la tuile statistique : </p>
                  <input id="statistique" type="checkbox" hidden="hidden"/>
                  <label for="statistique" class="switch"></label>
                </li>
                <li>
                  <p>Affichage de la tuile documents : </p>
                  <input id="documents" type="checkbox" hidden="hidden"/>
                  <label for="documents" class="switch"></label>
                </li>
              </ul>
            </div>
        </div>
    </body>
</html>
