<md-dialog ng-cloak ng-controller="TachesCtrl">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Ajouter un commentaire </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="./styles/images/cancel.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
          
          
        <form role="form">
            
           
            
            <div class="form-group row">
               
                    <div ng-repeat="com in coms">
                        <p>{{ com.commentaire }}</td>
                        <td>{{ com.qui }}</td>
                        <td>{{ com.date }}</td>
                    </div>
                
                      
                <md-input-container class="md-block" flex-gt-sm>  
                    <input name="commentaire" ng-model="formDataComs.commentaire" placeholder="Répondre : ">
                </md-input-container>   
            </div>
            
            
            
          
        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row"> 
      
      <span flex></span>
      <md-button ng-click="hide()">
       Annuler
      </md-button>
      <md-button ng-click="validerComs()" style="margin-right:20px;">
       Valider
      </md-button>
    </md-dialog-actions>
  </form>
    <div ng-repeat="com in coms">
        <p>{{com.commentaire}}</p>
    </div>
</md-dialog>

