<md-dialog ng-cloak ng-controller="TachesCtrl">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Tâche terminée</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="./styles/images/cancel.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
        
      <div class="md-dialog-content">
        <form role="form">
            
                         
           
            <div class="form-group row inputSolde">
            <div class="col-sm-2"></div>
                <md-input-container class="md-icon-float md-icon-right md-block">
                    <label>Consommation totale</label>
                    
                    <input ng-model="formTacheConsoEnd.consoEnd" type="number" step="0.1">
                    
                </md-input-container>
            
            </div>
        </form>
      </div>
        
    </md-dialog-content>
    <md-dialog-actions layout="row"> 
      
      <span flex></span>
      <md-button ng-click="hide()">
       Annuler
      </md-button>
      <md-button ng-click="validerConsoEnd()" style="margin-right:20px;">
       Valider
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>