<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<md-dialog ng-cloak ng-controller="HomeCtrl" data-ng-init="affichePeriodeFin('false')">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Modifier une absence</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="./styles/images/cancel.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form role="form">
        	<div class="form-group row">
                <div class="col-sm-1"></div>
				<md-radio-group layout="row" ng-model="formData.isPoseSurPeriode" ng-change="affichePeriodeFin(formData.isPoseSurPeriode)">
					<md-radio-button value="false"> Sur une journée </md-radio-button>
					<md-radio-button value="true"> Sur une période </md-radio-button>
				</md-radio-group>
                <div class="col-sm-1"></div>
            </div>
            <div class=" form-group row">
                <div class="col-sm-1"></div>
                <md-datepicker class="col-sm-5 {{centre}}" ng-model="formData.dateProchainConges" md-placeholder="Début de congé"></md-datepicker>
				<md-radio-group ng-model="formData.typeJourneeDebut">
					<md-radio-button ng-class="isJourneeCachee" value="am"> Matin </md-radio-button>
					<md-radio-button ng-class="isJourneeCachee" value="pm"> Après-midi </md-radio-button>
					<md-radio-button ng-class="isJourneeCachee"value="amPm"> Journée complète </md-radio-button>
				</md-radio-group>
                <div class="col-sm-1"></div>
            </div>
            <div class="{{isCachee}} form-group row">
                <div class="col-sm-1"></div>
                	<md-datepicker class="col-sm-5 {{centre}}" ng-model="formData.dateFinProchainConges" md-placeholder="Fin de congé"></md-datepicker>
                	
                <div class="col-sm-1"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3"></div>
                <p> Type de l'absence : </p>
                <md-radio-group ng-model="formData.idTypeAbsence">
                    <md-radio-button value="choixConge"> Congé </md-radio-button>
                    <md-radio-button value="choixRtt1"> RTT Q1 </md-radio-button>
                    <md-radio-button value="choixRtt2"> RTT Q2 </md-radio-button>
                </md-radio-group>
            </div>

        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row"> 
      
      <span flex></span>
      <md-button ng-click="hide()">
       Annuler
      </md-button>
      <md-button ng-click="supprimer()" style="margin-right:20px;">
       Supprimer
      </md-button>
      <md-button ng-click="valider()" style="margin-right:20px;">
       Valider
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>