<div class="container">
    <div class="row marge1">
        <div class="col-sm-3"></div>
    <table class="table-responsive indicateur-screen">
          <tr>

            <td class="graph-tache">
              <canvas class="chart chart-doughnut" chart-data="dataRetard" chart-labels="labelRetard" chart-colours="coloursRetard" width="130" height="130" chart-options="options"></canvas>
              <div id="indicateur_screen"><p class="indicateur" id="supPrevu"> {{ retard }}</p></div>
              <div id="titre"><p> Hors délais </p></div>
              <br>
            </td>
            
            <td class="graph-tache">
                <canvas  class="chart chart-doughnut"chart-data="dataDelais" chart-labels="labelDelais" chart-colours="coloursDelais" width="130" height="130" chart-options="options"></canvas>
                <div id="indicateur_screen"><p class="indicateur" id="egalPrevu"> {{ delais }}</p></div>
                <div id="titre"><p>Dans les délais</p></div>
                <br>
            </td>
            
            <td class="graph-tache">
                <canvas  class="chart chart-doughnut"chart-data="dataAvance" chart-labels="labelAvance" chart-colours="coloursAvance" width="130" height="130" chart-options="options"></canvas>
                <div id="indicateur_screen"><p class="indicateur" id="infPrevu"> {{ avance }}</p></div>
                <div id="titre"><p>En avance</p></div>
                <br>
            </td> 
            
            <td class="graph-tache">
                <canvas  class="chart chart-doughnut"chart-data="dataTermine" chart-labels="labelTermine" chart-colours="coloursTermine" width="130" height="130" chart-options="options"></canvas>
                <div id="indicateur_screen"><p class="indicateur" id="termine"> {{ termine }}</p></div>
                <div id="titre"><p>Terminé</p></div>
                <br>
            </td> 

            </tr>
        </table>
    </div>
     <div class="row marge1">
        <form> 
            <div class="form-group ">
                <div class="col-sm-3"></div>
              <div class="input-group col-sm-3">
                <div class="input-group-addon"><i class="fa fa-search search-black"></i></div>
                <input type="text" class="form-control" placeholder="Recherche ..." ng-model="searchTache">
              </div>      
            </div>
        </form>
         <div class="icons-taches">
            <a href="https://mypm.imfr.cgi.com/portail/#/CDSMainframe/outils/imputations" target="_blank"><i class="fa fa-clock-o fa-4x search-black"></i></a>
            <a href="/portail/#/taches"><i class="fa fa-user fa-4x search-black"></i></a>
            <a href="" ng-click="showAdvancedAddTache($event)"><i class="fa fa-plus fa-4x search-black"></i></a>
         </div>
     </div>
    
    
    
    <table style="width:94%;margin-left:3%;" class="table table-bordered table-striped table-tache">
    
        <thead>
        <tr class="bandeau-retard" >
            <th>
                <a href="" ng-click="showRetards = ! showRetards">Demandes hors délais </a>
            </th>
            <th>
                <a href="" ng-click="showRetards = ! showRetards">OT</a>
            </th>
            <th>
                <a href="" ng-click="showRetards = ! showRetards">Type</a> 
            </th>
            <th>
                <a href="" ng-click="showRetards = ! showRetards">Tri</a> 
            </th>
            <th>
                <a href="" ng-click="showRetards = ! showRetards">Date</a> 
            </th>
            <th>
                <a href="" ng-click="showRetards = ! showRetards">Prévue</a> 
            </th>
            <th>
                <a href="" ng-click="showRetards = ! showRetards">Restant</a> 
            </th>
            <th>
                <a href="" ng-click="showRetards = ! showRetards">Actions</a>
            </th>
            
            </tr>
        </thead>
    
        <tbody>
          <tr ng-repeat="tacheRetard in tacheRetards | orderBy:sortType:sortReverse | filter:searchTache" ng-hide="showRetards">
            <td ng-app="">{{ tacheRetard.dm }}</td>
            <td>{{ tacheRetard.ot }}</td>
            <td style="text-align: center">{{ tacheRetard.type }}</td>
            <td style="text-align: center">{{ tacheRetard.ressource }}</td>
            <td style="text-align: center">{{ tacheRetard.date }}</td>
            <td style="text-align: center">{{ tacheRetard.charge }}</td>
            <td style="text-align: center">{{ tacheRetard.restant }}</td>
            
            <td class="icon-screen"><a href="" ng-click="showAdvancedComs($event)"><i class="fa fa-comments-o colorfa fa-2x" aria-hidden="true"></i></a>
            </td>
            
          </tr>
        </tbody>
    
    </table>
    
    <table style="width:94%;margin-left:3%;" class="table table-bordered table-striped table-tache">
    
        <thead>
          <tr class="bandeau-delais">
            <th>
                <a href="" ng-click="showDetails = ! showDetails">Demandes dans les délais </a>
            </th>
            <th>
                <a href="" ng-click="showDetails = ! showDetails">OT</a>
            </th>
            <th>
                <a href="" ng-click="showDetails = ! showDetails">Type</a> 
            </th>
            <th>
                <a href="" ng-click="showRetards = ! showRetards">Tri</a> 
            </th>
            <th>
                <a href="" ng-click="showDetails = ! showDetails">Date</a> 
            </th>
            <th>
                <a href="" ng-click="showDetails = ! showDetails">Prévue</a> 
            </th>
            <th>
                <a href="" ng-click="showDetails = ! showDetails">Restant</a> 
            </th>
            <th>
                <a href="" ng-click="showDetails = ! showDetails">Actions</a>
            </th>
            
          </tr>
        </thead>
    
        <tbody>
          <tr ng-repeat="tache in taches |  filter:searchTache" ng-hide="showDetails">
            <td>{{ tache.dm }}</td>
            <td>{{ tache.ot }}</td>
            <td style="text-align: center">{{ tache.type }}</td>
            <td style="text-align: center">{{ tache.ressource }}</td>
            <td style="text-align: center">{{ tache.date }}</td>
            <td style="text-align: center">{{ tache.charge }}</td>
            <td style="text-align: center">{{ tache.restant }}</td>
            
            <td class="icon-screen"><a href="" ng-click="showAdvancedComs($event)"><i class="fa fa-comments-o colorfa fa-2x" aria-hidden="true"></i></a>
            </td>
            
          </tr>
        </tbody>
    
    </table>
    <table style="width:94%;margin-left:3%;" class="table table-bordered table-striped table-tache">
    
        <thead>
          <tr class="bandeau-avance">
            <th>
                <a href="" ng-click="showAvance = ! showAvance">Demandes en avance </a>
            </th>
            <th>
                <a href="" ng-click="showAvance = ! showAvance">OT</a>
            </th>
            <th>
                <a href="" ng-click="showAvance = ! showAvance">Type</a> 
            </th>
            <th>
                <a href="" ng-click="showRetards = ! showRetards">Tri</a> 
            </th>
            <th>
                <a href="" ng-click="showAvance = ! showAvance">Date</a> 
            </th>
            <th>
                <a href="" ng-click="showAvance = ! showAvance">Prévue</a> 
            </th>
            <th>
                <a href="" ng-click="showAvance = ! showAvance">Restant</a> 
            </th>
            <th>
                <a href="" ng-click="showAvance = ! showAvance">Actions</a>
            </th>
            
          </tr>
        </thead>
    
        <tbody>
          <tr ng-repeat="tacheAvance in tacheAvances | orderBy:sortType:sortReverse | filter:searchTache" ng-hide="showAvance">
            <td>{{ tacheAvance.dm }}</td>
            <td>{{ tacheAvance.ot }}</td>
            <td style="text-align: center">{{ tacheAvance.type }}</td>
            <td style="text-align: center">{{ tacheAvance.ressource }}</td>
            <td style="text-align: center">{{ tacheAvance.date }}</td>
            <td style="text-align: center">{{ tacheAvance.charge }}</td>
            <td style="text-align: center">{{ tacheAvance.restant }}</td>
           
            <td class="icon-screen"><a href="" ng-click="showAdvancedComs($event)"><i class="fa fa-comments-o colorfa fa-2x" aria-hidden="true"></i></a>
            </td>
            
          </tr>
        </tbody>
    
    </table>
    
    <table style="width:94%;margin-left:3%;" class="table table-bordered table-striped table-tache">
    
        <thead>
          <tr class="bandeau-termine">
            <th>
                <a href="" ng-click="showtermine = ! showtermine">Demandes terminées</a>
            </th>
            <th>
                <a href="" ng-click="showtermine = ! showtermine">OT</a>
            </th>
            <th>
                <a href="" ng-click="showtermine = ! showtermine">Type</a> 
            </th>
            <th>
                <a href="" ng-click="showtermine = ! showtermine">Tri</a> 
            </th>

            <th>
                <a href="" ng-click="showtermine = ! showtermine">Actions</a>
            </th>
            
          </tr>
        </thead>
    
        <tbody>
          <tr ng-repeat="tacheTermine in tacheTermines | orderBy:sortType:sortReverse | filter:searchTache" ng-hide="showtermine">
            <td>{{ tacheTermine.dm }}</td>
            <td>{{ tacheTermine.ot }}</td>
            <td style="text-align: center">{{ tacheTermine.type }}</td>
            <td style="text-align: center">{{ tacheTermine.ressource }}</td>
            <td class="icon-screen"><a href="" ng-click="showAdvancedComs($event)"><i class="fa fa-comments-o colorfa fa-2x" aria-hidden="true"></i></a>
            </td>
            
          </tr>
        </tbody>
    
    </table>
    
   
</div>