<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card card-home card-home-yellow">
                <div class="card-header card-header-yellow">
                    <div class="card-button">
                        <a href="#"><i class="fa fa-external-link-square fa-3x"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <i class="fa fa-calendar fa-6x"></i>
                </div>
                <div class="card-footer">
                    <h2>Absences</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">        
            <div class="card card-home card-home-red">
                <div class="card-header card-header-red">
                    <div class="card-button">
                        <a href="#"><i class="fa fa-external-link-square fa-3x"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <i class="fa fa-gears fa-6x"></i>
                </div>
                <div class="card-footer">
                    <h2>Outils</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-home card-home-blue1">
                <div class="card-header card-header-blue1">
                    <div class="card-button">
                        <a href="#"><i class="fa fa-external-link-square fa-3x"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <i class="fa fa-exclamation-triangle fa-6x"></i>
                </div>
                <div class="card-footer">
                    <h2>Incohérences</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">        
            <div class="card card-home card-home-blue2">
                <div class="card-header card-header-blue2">
                    <div class="card-button">
                        <a href="#"><i class="fa fa-external-link-square fa-3x"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <i class="fa fa-area-chart fa-6x"></i>
                </div>
                <div class="card-footer">
                    <h2>Statistiques</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-home card-home-gris-teal">
                <div class="card-header card-header-gris-teal">
                    <div class="card-button">
                        <a href="#"><i class="fa fa-external-link-square fa-3x"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <i class="fa fa-wrench fa-6x"></i>
                </div>
                <div class="card-footer">
                    <h2>Configuration</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-home card-home-green">
                <div class="card-header card-header-green">
                    <div class="card-button">
                        <a href="#"><i class="fa fa-external-link-square fa-3x"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <i class="fa fa-gears fa-6x"></i>
                </div>
                <div class="card-footer">
                    <h2>.....</h2>
                </div>
            </div>
        </div>
    </div>
</div>