<div class="container">
    <div class="row">
         <div class="col-sm-6">
            <div class="recap">
              <table id="recapitulatif">
                <tr class="ligne">
                  <td><div id="coin"></div> </td>
                  <td></td>
                  <td>A prendre</td>
                  <td>Pris</td>
                  <td>Restants</td>
                </tr>
                  <tr>
                  <td><div id="color_conge"></div></td>
                  <td id="colonne"> Congés </td>
                  <td id="conge_aPrendre"></td>
                  <td id="conge_pris"></td>
                  <td id="conge_restant"></td>
                </tr>
                <tr>
                    <td><div id="color_rttQ1"></div></td>
                  <td id="colonne"> RTT Q1 </td>
                  <td id="rttQ1_aPrendre"></td>
                  <td id="rttQ1_pris"></td>
                  <td id="rttQ1_restant"></td>
                </tr>
                <tr>
                  <td><div id="color_rttQ2"></div></td>
                  <td id="colonne"> RTT Q2 </td>
                  <td id="rttQ2_aPrendre"></td>
                  <td id="rttQ2_pris"></td>
                  <td id="rttQ2_restant"></td>
                </tr>
                <tr>
                  <td><div id="color_autres"></div></td>
                  <td id="colonne"> Autres </td>
                  <td id="autre_aPrendre"></td>
                  <td id="autre_pris"></td>
                  <td id="autre_restant"></td>
                </tr>
                <tr>
                  <td></td>
                  <td id="colonne"> Total </td>
                  <td id="total_aPrendre"></td>
                  <td id="total_pris"></td>
                  <td id="total_restant"></td>
                </tr>
              </table>
            </div>

              <div id="graphique">
                <div class="cont">
                  <div>
                    <table>
                      <tr>
                        <td class="graph">
                          <canvas id="conges" height="75" width="75"></canvas>
                            <p> Congés</p>
                            <br>
                        </td>

                        <td class="graph">
                            <canvas id="rtt_q1" height="75" width="75"></canvas>
                            <p>RTT Q1</p>
                            <br>
                        </td>

                        <td class="graph">
                            <canvas id="rtt_q2" height="75" width="75"></canvas>
                            <p>RTT Q2</p>
                            <br>
                        </td>
                        </tr>
                    </table>
                  </div>
                </div>
              </div>
         </div>
        <div class="col-sm-6">
            <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
        </div>
    </div>
</div>
