.contentCGI {
    background-color: #e7e7e7 !important;
    margin: 0;
}

.rougeCGI{
    background-color: #e31937 !important;
}

.floatLeft{
    float: left;
}

.chkbModes{
    margin-right: 20px;
    width: 90px;
}

textarea {
    height:auto;
    max-width:1250px;
    color:#999;
    font-weight:400;
    font-size:30px;
    font-family:'Ubuntu', Helvetica, Arial, sans-serif;
    width:100%;
    background:#fff;
    border-radius:3px;
    line-height:2em;
    border:none;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
    padding:30px;
    -webkit-transition: height 2s ease;
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
}

legend{
    margin-bottom: 7px;
}

fieldset{
    margin-top: 15px;
}

#btnGenerate {
    background-color: #888888 !important;
    color: white !important;
    font-family: "Arial", Arial, Sans-serif !important;
    text-shadow: 1px 1px 2px #3f0909 !important;
    font-weight: bold;
}

.headerCGI {
	background-color: #e31937 !important;
	color: white !important;
	font-family: "Arial", Arial, Sans-serif !important;
	font-size: 120%;
	text-shadow: 1px 1px 2px #3F0909 !important;
    text-align: center;
	height: 50px !important;
	font-weight: bold;
	z-index: 101;
}

.headerCGI>h2{
    margin-top: 7px;
    font-family: "Arial", Arial, Sans-serif !important;
    font-weight: bold;
    display: block;
    width: 60%;
    margin-left : 20%;
    text-align: center;
    font-size: 200%;
    text-shadow: 1px 1px 2px #3F0909;
    position: absolute;
}

.homeLink{
    position: absolute;
    top: 10px;
    left: 15px;
}

.homeLink .fa{
    color: white;
    text-shadow: 1px 1px 2px #3F0909;
}

.fa-check{
   color: white;
}

.footerCGI{
	/* display: block;
    position: fixed;
    bottom: 10px;
    left: 10px; */
    background: url('images/logoCGI.png') no-repeat;
    width: 75px;
    height: 34px;
	border-style:none;
    /* z-index: -1; */
}

.settings{
    float: right;
    margin-right: 1%;
    margin-top: 10px;
}

.tri{
    float: right;
    margin-right: 3%;
    margin-top: 15px;
    }
    

    
    
.outilsIcones{
    width : 90%;
    margin-left: 8%;
    margin-top : 5%;
    }

.outilsIcones h4{
    margin-top: 5%;
    color : #e12d0e;
    text-align: left;
}
    
.outilsIcones .fa{
    color : #616161 ;
    }
/* css fullscreen mes Absences */

.marge{
  margin-top: 5%;
}

.marge1{
    margin-top: 0%;
}
.calendar {
  background-color: white;
  border : 2px solid #C7C7C7;
}

.modal-content {
    width : 30%;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 15px;
}
    
#recapitulatif{
  float: left;
  border: 1px solid #D8D8D8;
  width : 100%;
  background-color: white;
}

#recapitulatif tr td{
  border: 1px solid #D0D0D0 ;
  padding: 10px 13px 10px 13px;
  text-align: center;
}

.ligne{
  background-color: #C7C7C7;
  font-weight: bold;
}

#colonne{
  font-weight: bold;
}

#graphique {
  display: inline;
}

.graphique{
  margin-left: 45px;
}

.graph {
  padding: 10px 20px 0px 5px ;
}

.graph p{
  text-align: center;
  padding-top: 10px;
}

.graphScreen {
  padding: 20px 50px 0px 0px ;
    
}

.graphScreen p{
  text-align: center;
  padding-top: 50px;
}

.fc-week-number {
  font-size: 10px;
  margin-left: 5px;
  color: #C01515;
}

.fc-week-number span{
  margin-top: 3px;
  padding-left: 3px;

}

#color_conge{
  background-color: rgba(1,66,110,0.5);
  width: 15px;
  height: 15px;
  border-radius: 25px;
}

#color_rttQ1{
  background-color: rgba(14,130,188,0.5);
  width: 15px;
  height: 15px;
  border-radius: 25px;
}

#color_rttQ2{
  background-color: rgba(52,204,227,0.5);
  width: 15px;
  height: 15px;
  border-radius: 25px;
}

#color_autres{
  background-color: rgba(121,158,169,0.54);
  width: 15px;
  height: 15px;
  border-radius: 25px;
}

/* css card Absences */


md-dialog {
    width : 32%
}

.inputNombre{
    margin-left: 1%;
}

.md-datepicker-input-container {
    width : 65%
}

md-input-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    padding-left: 0px;
}

.md-datepicker-input {
    width : 100%;
}

md-input-container{
    margin : 7px 0;
    width : 55%;
}

md-input-container .md-errors-spacer {
    min-width: 0px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #e31937;
}

md-radio-button {
    margin-left: 55%;
    margin-top: -25px;
}

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color: #e12d0e;
}



.graph-card {
  padding: 18px 35px 0px 5px ;
}

#titre p{
  margin-top: 30%;
  text-align: center;
}

#indicateur{
  margin-top: -90px;
}


.indicateur{
    margin-top: 10px;
    font-size: 21px;
    color: black;
}

.quand h3{
  font-size : 18px;
  text-align: center;
}

.duree h3{
  font-size : 18px;
  text-align: center;
}

.fa{
  color : white;
}

.icons-outils{
  margin-top: 4%;
}

.icons-outils h3 {
  text-align: center;
  color: black;
  font-size: 18px;
  padding-top: 10px;
}

.cont{
    padding-left: 13%;
}

.modal-title {
    text-align: center;
    color: white;
    font-weight: bold;
}

.modal-header{
    background-color: #e31937;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* css home */

.no-padding{
    padding: 0;
}

.tuiles{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.has-navbar-top .app-body {
    padding-top: 1px;
}

.cachee {
	display: none;
}

.centre {
    padding-left: 12%;
}



/* css tuile planning */


.list{
    float : left;
    margin-top: 4%;
}

.listOT{
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
    margin-right: 30px;
     
}

.planningTable{
    margin-top: 20px;
}


.planningTable  td, th{
    padding: 15px 27px 10px 27px;
}

.planningTable th{
    font-size: 17px;
}

  


.planningTable td{
    height: 60px;
    
}

.calendarTeam{
   width : 86%;
  
}



.wrapper {
  display: table;
  position: absolute;
  width: 30%;
  padding: 0;
  background: #fff;
  border-radius: 2px;
  text-align: right;
  margin: auto;
  box-shadow: 0 19px 38px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.22);
  overflow: hidden;
  z-index: 100;
}
.wrapper .content {
  padding: 24px 24px 16px;
}
.wrapper .footer {
  padding: 0 16px 8px;
}
.wrapper .ripple {
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: 100%;
  left: 100%;
  border-radius: 100%;
  -webkit-transition: box-shadow 0.56s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.56s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}
.wrapper .header {
  display: block;
  font-size: 20px;
  text-align: left;
  color: rgba(0,0,0,0.84);
  margin: 0;
  padding: 0;
  -webkit-transition: color 0.56s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.56s cubic-bezier(0.4, 0, 0.2, 1);
}
.wrapper ul {
  display: block;
  padding: 0;
  width: 100%;
}
.wrapper ul li {
  display: block;
  padding: 16px 0 0;
}
.wrapper ul li p {
  display: inline-block;
  line-height: 24px;
  margin: 0 20px 0;
  vertical-align: middle;
  -webkit-transition: color 0.56s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.56s cubic-bezier(0.4, 0, 0.2, 1);
}
.wrapper.dark,
.wrapper.dark .header {
  color: rgba(255,255,255,0.84);
}
.wrapper.dark .ripple,
.wrapper.dark .header .ripple {
  box-shadow: inset 0 0 0 10px rgba(0,0,0,0.77), 0 0 0 400px rgba(0,0,0,0.77);
}
.wrapper.dark .button,
.wrapper.dark .header .button {
  color: rgba(255,255,255,0.84);
}
.wrapper.dark .switch,
.wrapper.dark .header .switch {
  background: rgba(255,255,255,0.3);
}
.wrapper.dark .switch::before,
.wrapper.dark .header .switch::before {
  background: #bdbdbd;
}
.wrapper.dark input:checked + .switch,
.wrapper.dark .header input:checked + .switch {
  background: rgba(128,203,196,0.5);
}
.wrapper.dark input:checked + .switch::before,
.wrapper.dark .header input:checked + .switch::before {
  background: #80cbc4;
}
.button {
  display: inline-block;
  position: relative;
  padding: 0 12px;
  height: 36px;
  border: none;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 2px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0,0,0,0.84);
  background: none;
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.button:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.28);
}
.button:active {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 16px;
  border-radius: 8px;
  background: rgba(0,0,0,0.26);
  -webkit-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
}
.switch::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 24px;
  height: 24px;
  background: #fafafa;
  box-shadow: 0 2px 8px rgba(0,0,0,0.28);
  border-radius: 50%;
  -webkit-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
  box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
}
input:checked + .switch {
  background: rgba(0,150,136,0.5);
}
input:checked + .switch::before {
  left: 20px;
  background: #009688;
}
input:checked + .switch:active::before {
  box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
}

.layout-row {
    padding-bottom: 25px;
}

.centree{
    margin-left: 20%;
    padding-bottom: 10px;
}

#indicateurAbsences{
    margin-top: -130px;
}

#indicateurAbsences p{
    font-size: 18px;
}


.buttonAjouter img{
    width: 13%;
    padding-bottom: 20px;
    margin-left: 25%;
}

.buttonAjouter p{
    margin-top: -60px;
    margin-left: 41%;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    color : black;
}

.cont2 {
    margin-left: -30px;
}

.ajuste{
    margin-left: 12%;
}

md-input-container .md-input {
    width : 50%;
    
}
md-input-container{
    margin-left: 29%;
}

#titre_blanc p{
    margin-top: 48%;
    color : white;
    text-align: center;
}

#indicateur_taches p{
    text-align : center;
    margin-top: -78px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.tableau{
    background-color: #e7e7e7;
    width: 90%;
    margin-left: 5%;
    border: 3px solid #fff;
    
}

.enRetard{
    background-color: #dd5e60;
    padding: 3px;
    
    border-bottom: 2px solid #fff;
   
    font-weight: bold;
    font-size: 13px;
}

.enAvance{
    background-color: #72d3a9;
    padding: 3px;
    font-weight: bold;
    font-size: 13px;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

.enDelais{
    background-color: #929292;
    padding: 3px;
    font-weight: bold;
    font-size: 13px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.colorfa{
    color : black;
    border : 2px solid #d8d8d8;
    background-color: white;
    padding: 3px;
}

.dm{
  width : 32%;  
}

.ot{
  width : 27%;  
}

typ{
   width : 7%;
   text-align: center;
}

.dateOt{
  width : 10%;  
  text-align: center;
}

.chargeOt{
    width : 9%;
    text-align: center;
}

.iconOt{
    width : 3%;
}

.infos_tache{
    margin: 8px;
}

.icon-screen{
    width : 2%;
}

.enRetardScreen{
    background-color: #dd5e60;
    padding: 9px;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid white;
}

.enDelaisScreen{
    background-color: #929292;
    padding: 9px;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid white;
}

.enAvanceScreen{
    background-color: #72d3a9;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid white;
}

.retard{
    
    border-left: 3px solid white;
    border-right: 3px solid white;
     background-color: #eeeeee; 
}

.delais{
    border-left: 3px solid white;
    border-right: 3px solid white;
     background-color: #eeeeee; 
}

.avance{
    border-bottom : 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    background-color: #eeeeee; 
}

.indicateur-screen{
    margin-left: 20%;
}

#indicateur_screen{
    text-align: center;
    margin-top: -95px;
}

.graph-tache {
  padding: 50px 135px 0px 5px ;
}

md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder{
    color : black;
}

md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder{
    color : black;
}

md-input-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore){
    font-weight: normal;
}

.md-select-value :first-child{
    max-width: 280px;
}

.bandeau-retard{
    background-color: #dd5e60;
}

.bandeau-delais{
    background-color: #929292;
}

.bandeau-avance{
    background-color: #72d3a9;
}

.bandeau-termine{
    background-color: #000;
}

.bandeau-retard a:hover{
    color : black;
    text-decoration: none;
}

.bandeau-delais a:hover{
    color : black;
    text-decoration: none;
}

.bandeau-avance a:hover{
    color : black;
    text-decoration: none;
}

.bandeau-termine a:hover{
    color : white;
    text-decoration: none;
}

.bandeau-termine a{
    color : white;
}
.table-tache{
    margin-top: 2%;
}

th a{
    display: block;
     height: 100%;
     text-decoration: none;
     color : black;
}

.search-black{
    color : #929292;
}

color-black{
    color : #000;
}

.icons-taches{
    margin-left: 55%;
    margin-top: -50px;
    
}

.icons-taches a {
    margin-left: 5%;
}

.cont1{
    padding-left: 8%;
    padding-top: 5%;
}

.cont1 td{
    padding-left: 15%;
}

md-input-container.md-icon-right {
    padding-left: 0px;
}

.addDm{
    margin-left: 10%;
}

.bulle{
    background-color: #bfbdbd;
    height: 10%;
    width : 70%;
    color : white;
    margin-bottom: 2%;
    margin-right: 15%;
    border-radius: 5px;
}

.qui{
    border-radius: 40px;
    height: 50px;
    width: 50px;
    border : 2px solid #bfbdbd;
    margin-right: 3%;
       
}

.qui p{
    margin-top: 13px;
    margin-left: -4px;
    font-weight: bold;
}

.date{
    font-size: 10px;
    float: right;
    margin-right: 5%;
}

.panel{
    width: 70%;
    margin-left: 15%;
}

.statsBar{
    width : 90%;
    height : 80%;
}

.login {
  width: 550px;
  margin: 16px auto;
  font-size: 16px;
  margin-top: 15%;
  
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #e12d0e;
}

.login-header {
  background: #e12d0e;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #f1f1f1;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}


.login input {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input:focus
 {
  border-color: #888;
}

.login input[type="submit"] {
  background: #e12d0e;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #e12d0e;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #e12d0e;
}