<div class="container">
    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-image">
                  <img src="./styles/images/engrenages.png">
                </div>
                <div class="card-content">
                  <p>Formulaire de génération SQL</p>
                </div>
                <div class="card-action grey lighten-1">
                  <a href="#genRequete" class="white-text">Générateur de requête</a>
                </div>
             </div>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-image">
                  <img src="./styles/images/database.png">
                </div>
                <div class="card-content">
                  <p>Visualiser les différentes BDD</p>
                </div>
                <div class="card-action grey lighten-1">
                  <a href="#viewPdf" class="white-text">Visualiser les BDD</a>
                </div>
             </div>
        </div>
    </div>
</div>
