<div class="container">
    <div class="row">
        <div class="col-sm-6">        
            <div class="card">
                <div class="card-image">
                    <img src="./styles/images/engrenages.png">
                    <h2>Formulaire de génération SQL</h2>
                </div>
                <p><a href="#genRequete" class="white-text">Générateur de requête</a></p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-image">
                    <img src="./styles/images/database.png">
                    <h2>Visualiser les différentes BDD</h2>
                </div>
                <p><a href="#viewPdf" class="white-text">Visualiser les BDD</a></p>
            </div>
        </div>
    </div>
</div>



            