<div class="container">
  
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <fieldset>
                <legend>1. Choix du produit</legend>
                <select  ng-model="selected" class="form-control" ng-change="majListe()">
                    <option value="">-- choose color --</option>
                    <option ng-repeat="(key, value) in produits" value="{{key}}">{{key}}</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>2. Choix du code produit</legend>
                <select class="form-control" name="codeProduitsList" id="codeProduitsList" data-native-menu="false">
                    <option value="">-- choose color --</option>
                    <option ng-repeat="(key, value) in codes" value="{{value}}">{{value}}</option>
                </select>
            </fieldset>
            <fieldset id="modeGestion">
                <legend>3.Mode de gestion</legend>
                    <div class="form-group floatLeft chkbModes" ng-repeat="mode in modesGestion.label">
                        <label>{{mode}} : </label>
                        <checkbox class="rougeCGI" ng-model="modesGestion.value[$index]"></checkbox>
                    </div>
            </fieldset></br></br>
            <button id="btnGenerate" class="btn btn-default btn-block" onclick="genererRequete()">Generer</button>
            <fieldset id="modeGestion">
                <legend>Requête generée:</legend>
                <textarea name="rsltReq" id="rsltReq"></textarea>
            </fieldset>
        </div>
        <div class="col-sm-3"></div>
    </div>