<div class="navbar navbar-app navbar-absolute-top headerCGI">
            <h2>CGI Tools</h2>
            <a href="#/home" class="homeLink"><i class="fa fa-home fa-2x"></i></a>
            <h3 class="tri"> BJA </h3>
            <a class="settings" href="/portail/#/config"><i class="fa fa-gears fa-2x"></i></a>
            <a class="settings" href="https://mypm.imfr.cgi.com/portail/#/CDSMainframe/incoherences"><i class="fa fa-bell fa-2x"></i><span class="badge">{{notif}}</span></a>
                      
</div>

<div class="container">
    <div class="row outilsIcones">
        <div class="col-sm-2"></div>
            <!--<a href="/portail/#/genRequete">
                <i class="fa fa-database fa-6x col-sm-2">
                    <h4>Requête SQL</h4>
                </i>
            </a>-->
            <a href="/portail/#/viewPdf">
                <i class="fa fa-gears fa-6x col-sm-2">
                    <h4>Modèle de données</h4>
                </i>
            </a>
            <a href="http://portal.ent.cginet:7540/psp/paprd/?cmd=login">
                <i class="fa fa-clock-o fa-6x col-sm-2">
                    <h4>PSA Time</h4>
                </i>
            </a>
            <a href="https://ebs-sso.global.logica.com/sso/pages/login.jsp">
                <i class="fa fa-calendar fa-6x col-sm-2">
                    <h4>My Logica People</h4>
                </i>
            </a>
            <a href="http://mysite.ent.cgi.com/news.aspx">
                <i class="fa fa-user fa-6x col-sm-2">
                    <h4>My Site</h4>
                </i>
            </a>
            <div class="col-sm-2"></div>
           
    </div>
<div class="row outilsIcones">
        <div class="col-sm-2"></div>
            
            <a href="http://portal.ent.cginet:7540/psp/paprd/?cmd=login">
                <i class="fa fa-newspaper-o fa-6x col-sm-2">
                    <h4>CynerGI</h4>
                </i>
            </a> 
            <a href="https://mail.logica.com/CookieAuth.dll?GetLogon?curl=Z2FowaZ2F&reason=0&formdir=1">
                <i class="fa fa-envelope fa-6x col-sm-2">
                    <h4>WebMail</h4>
                </i>
            </a>
            <div class="col-sm-2"></div>
    </div>     
         
       
</div>

    
 
            


            