<div class="navbar navbar-app navbar-absolute-top headerCGI">
            <h2>CGI Tools</h2>
            <a href="#/home" class="homeLink"><i class="fa fa-home fa-2x"></i></a>
            
            <a class="settings" href="/portail/#/config"><i class="fa fa-gears fa-2x"></i></a>
            <a class="settings" href="https://mypm.imfr.cgi.com/portail/#/CDSMainframe/incoherences"><i class="fa fa-bell fa-2x"></i><span class="badge">{{notif}}</span></a>
                      
</div>

<div class="container" style="margin-top: 6%">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
           <figure>
                <h3>Modèle de données Bd1Bd2</h3>
                <img ng-elevate-zoom
                     ng-src="{{zoomModel1['thumbBd1']}}"
                     zoom-image="{{zoomModel1['largeBd1']}}" />
                <figcaption><a href="styles/pdf/bd1Bd2.pdf" target="_blank">Ouvrir en .pdf</a></figcaption>
            </figure>
            <figure>
                <h3>Modèle de données BD4Epargne</h3>
                 <img ng-elevate-zoom
                     ng-src="{{zoomModel1['thumbBd4']}}"
                     zoom-image="{{zoomModel1['largeBd4']}}" />
                <figcaption><a href="./styles/pdf/BD4Epargne.pdf" target="_blank">Ouvrir en .pdf</a></figcaption>

            </figure>
            <div class="zoom-container"></div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>