<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
           <figure>
                <h3>Modèle de données Bd1Bd2</h3>
                <img ng-elevate-zoom
                     ng-src="{{zoomModel1['thumbBd1']}}"
                     zoom-image="{{zoomModel1['largeBd1']}}" />
                <figcaption><a href="styles/pdf/bd1Bd2.pdf" target="_blank">Ouvrir en .pdf</a></figcaption>
            </figure>
            <figure>
                <h3>Modèle de données BD4Epargne</h3>
                 <img ng-elevate-zoom
                     ng-src="{{zoomModel1['thumbBd4']}}"
                     zoom-image="{{zoomModel1['largeBd4']}}" />
                <figcaption><a href="./styles/pdf/BD4Epargne.pdf" target="_blank">Ouvrir en .pdf</a></figcaption>

            </figure>
            <div class="zoom-container"></div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>