.contentCGI {
    background-color: #e7e7e7 !important;
    margin: 0;
}

.rougeCGI{
    background-color: #e31937 !important;
}

.floatLeft{
    float: left;
}

.chkbModes{
    margin-right: 20px;
    width: 90px;
}

textarea {
    height:auto;
    max-width:1250px;
    color:#999;
    font-weight:400;
    font-size:30px;
    font-family:'Ubuntu', Helvetica, Arial, sans-serif;
    width:100%;
    background:#fff;
    border-radius:3px;
    line-height:2em;
    border:none;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
    padding:30px;
    -webkit-transition: height 2s ease;
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
}

legend{
    margin-bottom: 7px;
}

fieldset{
    margin-top: 15px;
}

#btnGenerate {
    background-color: #888888 !important;
    color: white !important;
    font-family: "Arial", Arial, Sans-serif !important;
    text-shadow: 1px 1px 2px #3f0909 !important;
    font-weight: bold;
}

.headerCGI {
	background-color: #e31937 !important;
	color: white !important;
	font-family: "Arial", Arial, Sans-serif !important;
	font-size: 120%;
	text-shadow: 1px 1px 2px #3F0909 !important;
    text-align: center;
	height: 50px !important;
	font-weight: bold;
	z-index: 101;
}

.headerCGI>h2{
    margin-top: 7px;
    font-family: "Arial", Arial, Sans-serif !important;
    font-weight: bold;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 7px;
    text-align: center;
    font-size: 200%;
    text-shadow: 1px 1px 2px #3F0909;
    position: absolute;
}

.homeLink{
    position: absolute;
    top: 10px;
    left: 15px;
}

.homeLink .fa{
    color: white;
    text-shadow: 1px 1px 2px #3F0909;
}

.fa-check{
   color: white;
}

.footerCGI{
	/* display: block;
    position: fixed;
    bottom: 10px;
    left: 10px; */
    background: url('images/logoCGI.png') no-repeat;
    width: 75px;
    height: 34px;
	border-style:none;
    /* z-index: -1; */
}


.marge{
  margin-top: 5%;
}
.calendar {
  background-color: white;
  border : 2px solid #d8d8d8;
}

#recapitulatif{
  float: left;
  margin-left: 10%;
  border: 1px solid #D8D8D8;
  width : 20%;
  background-color: white;
}

#recapitulatif tr td{
  border: 1px solid #D0D0D0 ;
  padding: 10px 13px 10px 13px;
  text-align: center;
}

.ligne{
  background-color: #D8D8D8;
  font-weight: bold;
}

#colonne{
  font-weight: bold;
}

#graphique {
  display: inline;
}

.graphique{
  margin-left: 8%;
}

.graph {
  padding: 30px 20px 10px 5px ;
}

.graph p{
  text-align: center;
  padding-top: 10px;
}

.fc-week-number {
  font-size: 10px;
  margin-left: 5px;
  color: #C01515;
}

.fc-week-number span{
  margin-top: 3px;
  padding-left: 3px;

}

#color_conge{
  background-color: rgba(1,66,110,0.5);
  width: 15px;
  height: 15px;
  border-radius: 25px;
}

#color_rttQ1{
  background-color: rgba(14,130,188,0.5);
  width: 15px;
  height: 15px;
  border-radius: 25px;
}

#color_rttQ2{
  background-color: rgba(52,204,227,0.5);
  width: 15px;
  height: 15px;
  border-radius: 25px;
}

#color_autres{
  background-color: rgba(121,158,169,0.54);
  width: 15px;
  height: 15px;
  border-radius: 25px;
}
